html {
  font-family: Helvetica, sans-serif;
}

body {
    background-color: black;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0 0;
    margin-bottom: 0;
    min-height: 100vh;
    max-width: 100vw;
    /*display: flex;
    flex-direction: column;*/
}

#index{ /*Body página 1*/
    background-image: url(img/fondo1.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0 0;
    margin-bottom: 0;
    padding-bottom: 0;
    cursor: url(img/cursor1.png) url(img/cursor2.png);
}
/*
#future{
    background-image: url(img/fondo1.jpg);
    cursor: url(img/cursor1.png) url(img/cursor2.png);
    }
*/

/*inicio estilo overlay*/

#overlay {
  position: fixed;
  display: none;
  width: 80vw;
  height: 100vh;/*Estos sirven para centrar el recuadro*/
  left: 10vw;
  right: 10vw;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 2;
  cursor: pointer;
  overflow: scroll;
}

#text img {
  width: 15vw;
}

#text{
  position: absolute;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  top: 55%;
  left: 50%;
  font-size: 2.5vh;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/*Fin estilo overlay*/

#baraja { /*formato body baraja*/
    background-image: url(img/fondo2-1920.jpg);
    background-repeat: repeat;
    background-size: auto;
}

#index-header {
    color: rgb(255, 255, 255);
    margin: 0;
    font-style: italic;
    font-size: 5vw;
    font-weight: bold;
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h3 {
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
  margin: 0; /*Eliminé margen para evitar que quedé muy alejado  de los demás elementos (botón index)*/
}

#index-header button {
  font-size: 2vh;

}

#deck-header, #about-header, #luck-header {
    color: rgb(255, 255, 255);
    margin: 0;
    font-style: italic;
    font-size: 4vw;
    font-weight: bold;
    background: none;
    height: 25vh;
    width: 100%;
    max-width: 100%;
    padding: 0.2em 0;
    margin-top: 0;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    text-align: center;
    display: block;
    max-width: 100vw;
}



p {
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    text-align-last: center;
    max-width: 100vw;
}


#btn2-3{/*el div que abarca los dos botones del body*/
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
  }

#btn1 {
    border-radius: 100px;
    border: 1px solid black;
    background-color: black;
    color: white;
    margin: auto auto;
    text-align: center;
    height: 10vh;
    width: 40vw;
    font-weight: bold;
    cursor: pointer;
}

#btn2, #btn3, #btn4, #btn5{
    color: #FFF;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 2.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1vw;
    color: white;
    border-radius: 100px;
    border: 0.5em solid #000;
    background: #7A0BC0;
    cursor: pointer;
    width: 40vw;
    height: 15vh;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
    box-shadow: #7A0BC0 0px 22px 70px 4px;
    box-sizing: border-box;

}

#btn4:hover:hover {
  box-shadow: 0 0 50px 15px #7A0BC0 0 6px 20px 0 #00000025;
}

#hands{
  border-radius: 20%;
  padding: 2em;
}


footer {
    color: rgb(255, 255, 255);
    margin: 0 0;
    font-style: italic;
    font-size: 1.7vh;
    background-color: #7A0BC0;
    height: 5vh;
    width: 100%;
    max-width: 100vw;
    padding: 0em 0em 0em 0em; /*el padding diferente de cero, hacía que hubiera un margen negro del lado derecho del header*/
    bottom: 0;
    text-align: center;
    justify-content: center;
    /*position: fixed;*/
}

#index-footer {
  position: absolute; /*El footer ya no flota*/
}

h1 {
  text-align: center;
  font-size: 2em;
  max-width: 100vw;
}

ul {
    list-style-type: none;
}


/*future format*/

.center {
  background-color: rgba(0, 0, 0, 1.5);
  padding: 3em;
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

#textRead, #textName, #day-select, #month-select, #year-select {
  font-family: "Courier New";
  font-size: 100%;
  height: 6vw;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

#about {
  background-image: url(img/fondo1-1920.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

#user-name{
  width: 30vw;
  height: 6vw;
  padding: 2vw;
  background-color: transparent;
}

#birthday {
  width: 30vw;
  height: 6vw;
  display: flex;
  flex-wrap: nowrap;
  padding: 2vw;
  background-color: transparent;
  /*justify-content: space-around;*/
}

#user-number {
  width: 30vw;
  height: 6vw;
  padding: 2vw;
  background-color: transparent;
}

.text-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}


/*Barra toggle + filter*/

.toggle-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  padding: 0px;
  width: 100%;
  height: 100%;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

/*Flip cards*/
ul {
  margin-top: 2vw;
  padding: 0 0;

}
.flip-card {
  background-color: transparent;
  width: 300px;
  height:400px;
  perspective: 1000px;
  font-size: calc(0.1em + 0.5vw);
  margin: 0 0;
  padding: 0 0;
  border-radius: 15px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 0 0;
  margin: 0 0;
  border-radius: 15px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 15px;
}

.flip-card-back {
  background-color: #7A0BC0;
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 0.7em;
  transform: rotateY(180deg);
  border-radius: 15px;
}

.flip-card-back  li{
 font-size: 14px;
 letter-spacing:1px;
 margin: 0 0;
 padding: 0 0;

}


  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    outline: 2px solid black;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    outline: 2px solid black;

  }

  input:checked + .slider {
    background-color: #7A0BC0;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7A0BC0;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /*----Finish config toggle button----*/
 
  /*Navigation var*/
  .nav {
    overflow: hidden;
    background-color:transparent;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  /* Style the toggle inside the navigation bar */
  .nav label {
    float: left;
    color: #0b35c0;

  }
  /* Style the select inside the navigation bar */
  .nav select {
    float: right;
    color: #000;
    padding: 14px 16px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
  }
  .nav select:hover {
    background-color: #7A0BC0;
    color: #FFF ;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
 
/*-------formato luck.html-----------*/

.flip-luck {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 10px;
  padding: 0px;
  width: 100%;
  height: 100%;
  gap: 4px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

#luck-data {
  color: white;
  font-size: 20px;
  width: 70%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0px;
  text-indent: 0%;
  margin: auto;
}

#luck-data ul{
  background-color: #7A0BC0;
  padding: 10px;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  border-radius: 15px;
}

.flip-card-front {
  background-image: url(img/card-reverse.jpg);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  border-radius: 15px;
}

.luck-text {
  font-family: Helvetica, sans-serif;
  font-size: 800%;
  font-weight: bold;
  text-align: center;
  color: black;
  opacity: 0.7;
  text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
}
