body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0 0;
    margin-bottom: 0;
    min-height: 100vh;
}

#index{
    background-image: url(img/fondo1.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#about{
    background-image: url(img/fondo1.jpg);
    }

#baraja {
    background-image: url(img/fondo2.jpg)
}

#index-header {
    color: rgb(255, 255, 255);
    margin: 0;
    font-style: italic;
    font-size: 3vw;
    font-weight: bold;
    text-align: center center;
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    width: 100%;
    max-width: 100%;
    padding: 0.2em 0;
    margin-top: 0;
    left: 0;
    top: 0;
}

#deck-header, #about-header {
    color: rgb(255, 255, 255);
    margin: 0;
    font-style: italic;
    font-size: 3vw;
    font-weight: bold;
    text-align: center center;
    background: none;
    height: 55vh;
    width: 100%;
    max-width: 100%;
    padding: 0.2em 0;
    margin-top: 0;
    left: 0;
    top: 0;
}

div{
    text-align: center;
    padding: 0;
}

p {
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    text-align-last: center;
}

#btn2-3{/*el div que abarca los dos botones del body*/
    padding: 3em;
}

#btn1 {
    border-radius: 20%;
    border: 1px solid black;
    background-color: black;
    color: white;
    margin: auto auto;
    text-align: center center;
    height: 12vh;
    width: 45vh;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
}

#btn2, #btn3 {
    color: #FFF;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2em;
    color: white;
    border-radius: 20%;
    border: 1em solid #000;
    background: #7A0BC0;
    cursor: pointer;
}

/*.center {
    background-color: rgba(0, 0, 0, 01.5);
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.8;
    font-family: Helvetica, sans-serif;
    font-size: 3em;
    font-weight: bold;
    font-weight: 400;

}*/

footer {
    color: rgb(255, 255, 255);
    margin: 0 0;
    font-style: italic;
    font-size: 1vw;
    text-align: center center;
    background-color: #7A0BC0;
    height: 10vh;
    width: 100%;
    max-width: 100%;
    padding: 0.2em 0;
    bottom: 0;
}

ul {
    list-style-type: none;
}

/*flip cards*/
.flip-card {
    background-color: transparent;
    width: 80vh;
    height: 100vh;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }