body {
    background-color: black;
    background-image: url(img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

header{
    color: rgb(255, 255, 255);
    margin: 0;
    font-style: italic;
    font-size: 3vw;
    font-weight: bold;
    text-align: center center;
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    width: 100%;
    max-width: 100%;
    padding: 0.2em 0;
    margin-top: 0;
    left: 0;
    top: 0;
}
div{
    text-align: center;
    padding: 0;
}

#btn2-3{/*el div que abarca los dos botones del body*/
    padding: 3em;
}

#btn1 {
    border-radius: 20%;
    border: 1px solid black;
    background-color: black;
    color: white;
    margin: auto auto;
    text-align: center center;
    height: 12vh;
    width: 45vh;
    font-size: 1.5vw;
    font-weight: bold;
}

#btn2 {
    color: #FFF;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2em;
    color: white;
    border-radius: 20%;
    border: 1em solid #000;
    background: #7A0BC0;
}

#btn3 {
    color: #FFF;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2em;
    color: white;
    border-radius: 20%;
    border: 1em solid #000;
    background: #7A0BC0;
}

footer {
    color: rgb(255, 255, 255);
    margin: 0;
    font-style: italic;
    font-size: 1vw;
    text-align: center center;
    /*background-image: url(img/header.jpg);*/
    background-color: #7A0BC0;
    /*background-repeat: no-repeat;
    background-size: cover;*/
    height: 10vh;
    width: 100%;
    max-width: 100%;
    padding: 0.2em 0;
}